.container {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.label {
  margin-right: 6px;
}

.textarea {
  width: 100%;
}

.button {
  display: flex;
  align-items: center;
  height: 32px;
}