.container {
  margin-top: 5px;
  display: flex;
  align-items: top;
  justify-content: space-between;

  background-color: rgb(211, 211, 211, 0.2);
  outline: 1px solid rgb(211, 211, 211, 0.6);

  word-break: break-word;
}

.leftContent{
  display: flex;
  flex-grow: 5;
}

.textarea {
  width: 100%;
  resize: vertical;
}

.textContainer {
  padding: 5px;
  flex-grow: 5;  
  white-space: pre-wrap;
}

.btnContainer {
    margin-left: 6px;
    display: flex;
}

.crossed {
  text-decoration: line-through;
  opacity: 0.4;
  color: green;
}

.button {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  flex-grow: 0;
}