.container {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text {
  /* background-color: aliceblue; */
}

.btnContainer {
    margin-left: 6px;
    display: flex;
}

.crossed {
  text-decoration: line-through;
  opacity: 0.5;
}

.button {
  display: flex;
  align-items: center;
  height: 32px;
  width: 32px;
}